body {
  background-color: rgb(69, 172, 231);
  font-family: Roboto;
  text-align: center;
}

#tweet-quote {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  font-size: small;
  padding: 5px;
  font-weight: 500;
}

#new-quote {
  border: 1px solid white;
  font-size: small;
  color: white;
  cursor: pointer;
  background-color: rgb(69, 172, 231);
  padding: 5px;
  margin-left: 5px;
  font-weight: 500;
}

#text {
  font-style: italic;
  font-weight: 400;
}

#author {
  font-weight: 500;
}

#quote-box {
  display: inline-block;
  padding: 10px;
  margin-top: 300px;
  color: white;
  border: 3px solid white;
}

#user-github {
  display: block;
  margin-top: 10px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: small;
}
